<h1>TANK READER APP</h1>


<div class="full_column">
  <%= link_to 'Create an Account', new_user_path, class: 'link' %>
  <br>
  <%= link_to 'Login', login_path, class: 'link' %>
</div>

<div class="resetColumnSet"></div>